{% extends 'projects_base.html' %}
{% block extra_header %}
<style>
    .button {cursor: pointer;}
    .button2 {background-color: #4CAF50; color: white;}
    .button3 {background-color: #f44336; color: white;}
</style>
{% endblock %}
{% block type1 %}
<p>Location: <code><a href='/projects/'>Root</a>/{% for instance in object.get_ancestors %}<!--
--><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}/</a><!--
-->{% endfor %}
</code></p>
<h1>{{ object.title }}</h1>
<p>{{ object.description }}</p>
<p>Model name: <code>{{ object.model_name }}</code></p>
<p>Preprocessor name: <code>{{ object.preproc_name }}</code></p>
<p>Data path: <code>{{ object.data_path }}</code></p>
<p>Path on system: <code>{{ object.path_full }} </code></p>
<p>Admins:
    {% for user in object.auth_users.all %}
        {{ user }}, <!--TODO: This will need to be changed when admins and users get differentiated -->
    {% endfor %}
</p>
<p>Users:
    {% for user in object.auth_users.all %}
        {{ user }}, 
    {% endfor %}
</p>
{% if object.has_job %}
<p><a href='{{ object.job.get_absolute_url }}'>Job</a></p>
{% else %}
<p>
<button class="button button2" onclick="location.href='{{ object.get_create_url }}';" type="button">Create Job</button>
</p>
{% endif %}
<p>
<button class="button button3" onclick="location.href = '{{ object.get_delete_url }}'">Delete</button>
</p>
{% endblock %}